﻿@page
@model HolidayTravelVehicles.Pages.Cars.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Engine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Engine)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Car.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
