﻿@page
@model HolidayTravelVehicles.Pages.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Engine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Engine)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Car.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
