﻿@page
@model HolidayTravelVehicles.Pages.Sales.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sale.Cost" class="control-label"></label>
                <input asp-for="Sale.Cost" class="form-control" />
                <span asp-validation-for="Sale.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Customer</label>
                <select class="form-control" asp-for="Sale.CustomerId">
                    <option value="">Select a customer...</option>
                    @foreach (var customer in Model.Customers)
                    {
                        <option value="@customer.ID">@customer.Name</option>
                    }
                </select>
                <span asp-validation-for="Sale.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Car</label>
                <select class="form-control" asp-for="Sale.CarsId">
                    <option value="">Select a Car...</option>
                    @foreach (var car in Model.Cars)
                    {
                        <option value="@car.ID">@car.Name</option>
                    }
                </select>
                <span asp-validation-for="Sale.CarsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Caravan</label>
                <select class="form-control" asp-for="Sale.CaravanId">
                    <option value="">Select a Caravan...</option>
                    @foreach (var caravan in Model.Caravans)
                    {
                        <option value="@caravan.ID">@caravan.Name</option>
                    }
                </select>
                <span asp-validation-for="Sale.CaravanId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Sales Person</label>
                <select class="form-control" asp-for="Sale.SalesPersonId">
                    <option value="">Select a Sales Person...</option>
                    @foreach (var salesperson in Model.SalesPeople)
                    {
                        <option value="@salesperson.ID">@salesperson.Name</option>
                    }
                </select>
                <span asp-validation-for="Sale.SalesPersonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
