﻿@page
@model HolidayTravelVehicles.Pages.Sales.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.CarsId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.CarsId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.CaravanId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.CaravanId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.SalesPersonId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.SalesPersonId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Sale.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
