﻿@page
@model HolidayTravelVehicles.Pages.Sales.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sale.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Caravan.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model =>model.Caravan.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SalesPerson.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sale.SalesPersonId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sale.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
