﻿@page
@model HolidayTravelVehicles.Pages.Sales.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sale[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sale[0].CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sale[0].CarsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sale[0].CaravanId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sale[0].SalesPersonId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sale) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarsId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CaravanId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesPersonId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
