﻿@page
@model HolidayTravelVehicles.Pages.Caravans.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Caravan</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Caravan.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Caravan.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Caravan.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Caravan.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Caravan.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Caravan.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Caravan.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Caravan.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Caravan.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Caravan.Size)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Caravan.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
