﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Holiday Travel Vehicles</h1>
    <p>We hope to give you the best Experience possible when it comes to purchasing your car</p>


    <p>Student No: 100501118</p>
    <p>Student Name: Matthew Aylward</p>
</div>
